/* Global color styles for paragraph in authored CSS */
p {
  margin-top: 2em;
  color: goldenrod;
  padding: 2em;
  border: 1px solid;
}

/* Not all properties are accounted for anymore */
aside p {
  margin: unset;
  color: unset;
}

/* Decorative styles */
aside {
  margin-top: 2em;
}
